body {
  font-family: sans-serif;
  color:white;
  background-color: black;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  margin: 2px;
  width: 95%;
}

table, td, th {
  border: 1px solid white;
}

td select {
  border: none;
  -webkit-appearance: none;
}

h4 {
  color: orangered;
  margin:2px;
}

th {
  color: orangered;
}

select {
  color:white;
  background-color:black;
}

.standout {
  color: orangered;
}

#main {
  width: 95%;
}